<app-navbar></app-navbar>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image"> -->
                <img src="{{imageSrc}}" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form 
                action=""
                #f="ngForm" 
                novalidate 
                (ngSubmit)="f.form.valid && onSubmit()"
                >
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign up with</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Or</p>
                    </div>
                    <!-- Text input -->
                    <div class="form-outline mb-3">
                        <input id="txtFirstName" class="form-control form-control-lg" placeholder="Enter First Name"
                            name="name" [(ngModel)]="formdata.name" #name="ngModel" required>
                        <span class="text-danger" *ngIf="this.submit&&name.errors?.['required']">
                            First Name is required.
                        </span>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="txtemail" class="form-control form-control-lg" placeholder="Enter a valid email address" 
                         name="email" [(ngModel)]="formdata.email" #email="ngModel" required>
                            <span class="text-danger" *ngIf="this.submit&&email.errors?.['required']">
                                Email address is required.
                            </span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="txtpassword" class="form-control form-control-lg"
                            placeholder="Enter password" name="password" [(ngModel)]="formdata.password" #password="ngModel" required minlength="8" >
                            <span class="text-danger" *ngIf="this.submit&&password.errors?.['required']">
                                Password is required.
                            </span>
                            <span class="text-danger"  *ngIf="this.submit&&password.errors?.['minlength']">
                                Minimum length of password is 8 characters
                            </span>
                    </div>

                    <span class="text-danger" *ngIf="this.errorMessage" >
                        <p [innerText]="this.errorMessage"></p>
                     </span>
                     <div  class="text-center" *ngIf="this.loading">
                       <div class="spinner-border text-primary " role="status">
                         <span class="sr-only">Loading...</span>
                       </div>
                     </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <!-- <button (click)="submit=true" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;"> Sigup </button> -->
                            <input type="submit" class="btn btn-primary btn-lg"  value="Register" (click)="submit=true" [disabled]="this.loading"  >
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!" class="link-danger"
                                routerLink="/login">Already Registered? Click to Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2020. All rights reserved.
        </div>
        <!-- Copyright -->

        <!-- Right -->
        <div>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <!-- Right -->
    </div>
</section>