<app-navbar></app-navbar>
<div class="container">
    <div class="text-center mt-5">
        <h2><b>Welcome to our Lemellows World!!</b></h2>
    </div>
    <div class="row">
        <div class="col-custom col-lg-3 col-sm-6 col-12">
            <div class="card card-product-grid"> <a href="#" class="img-wrap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/lemellowauthentication.appspot.com/o/upload%2F71b4g%2BQ45LL._SL1500_.jpg?alt=media&token=e94a4ef9-1ec7-4c6c-ae1f-e4752a79ece1"
                        width="300" height="300">
                    <span class="topbar"> <span class="badge bg-success">
                            Offer </span> </span> </a>
                <div class="info-wrap border-top">
                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    <a href="#" class="float-end btn btn-primary btn-icon"> <i class="fa fa-shopping-cart"></i> </a> <a
                        href="#" class="title text-truncate">Modern T-shirt
                        for
                        men</a> <small class="text-muted">Sizes: S, M, XL</small>
                    <div class="price-wrap"> <strong class="price">$75.50</strong> </div>
                </div>
            </div> <!-- card // -->
        </div>

        <div class="col-custom col-lg-3 col-sm-6 col-12">
            <div class="card card-product-grid"> <a href="#" class="img-wrap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/lemellowauthentication.appspot.com/o/upload%2F1634258567-414O01rJlyL._SL500_.jpg?alt=media&token=d2899f3b-d4d0-40bf-8e47-83e274be3eeb"
                        width="300" height="300">
                    <span class="topbar"> <span class="badge bg-success">
                            Offer </span> </span> </a>
                <div class="info-wrap border-top">
                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    <a href="#" class="float-end btn btn-primary btn-icon"> <i class="fa fa-shopping-cart"></i> </a> <a
                        href="#" class="title text-truncate">Modern T-shirt
                        for
                        men</a> <small class="text-muted">Sizes: S, M, XL</small>
                    <div class="price-wrap"> <strong class="price">$75.50</strong> </div>
                </div>
            </div> <!-- card // -->
        </div>
        <div class="col-custom col-lg-3 col-sm-6 col-12">
            <div class="card card-product-grid"> <a href="#" class="img-wrap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/lemellowauthentication.appspot.com/o/upload%2F71XgfHJTzoL._SY550_.jpg?alt=media&token=d2cd95c5-341a-4df0-9429-23f3ec4d85e2"
                        width="300" height="300">
                    <span class="topbar"> <span class="badge bg-success">
                            Offer </span> </span> </a>
                <div class="info-wrap border-top">
                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    <a href="#" class="float-end btn btn-primary btn-icon"> <i class="fa fa-shopping-cart"></i> </a> <a
                        href="#" class="title text-truncate">Modern T-shirt
                        for
                        men</a> <small class="text-muted">Sizes: S, M, XL</small>
                    <div class="price-wrap"> <strong class="price">$75.50</strong> </div>
                </div>
            </div> <!-- card // -->
        </div>
        <div class="col-custom col-lg-3 col-sm-6 col-12">
            <div class="card card-product-grid"> <a href="#" class="img-wrap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/lemellowauthentication.appspot.com/o/upload%2Fbento-500x500.jpg?alt=media&token=adbe83fe-72d1-4cf1-9393-641a7ac28263"
                        width="300" height="300">
                    <span class="topbar"> <span class="badge bg-success">
                            Offer </span> </span> </a>
                <div class="info-wrap border-top">
                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    <a href="#" class="float-end btn btn-primary btn-icon"> <i class="fa fa-shopping-cart"></i> </a> <a
                        href="#" class="title text-truncate">Modern T-shirt
                        for
                        men</a> <small class="text-muted">Sizes: S, M, XL</small>
                    <div class="price-wrap"> <strong class="price">$75.50</strong> </div>
                </div>
            </div> <!-- card // -->
        </div>
        <div class="col-custom col-lg-3 col-sm-6 col-12">
            <div class="card card-product-grid"> <a href="#" class="img-wrap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/lemellowauthentication.appspot.com/o/upload%2Feducational-toys-500x500.jpg?alt=media&token=26a178fd-cdeb-4df0-9b09-2a6f8e2c741f"
                        width="300" height="300">
                    <span class="topbar"> <span class="badge bg-success">
                            Offer </span> </span> </a>
                <div class="info-wrap border-top">
                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    <a href="#" class="float-end btn btn-primary btn-icon"> <i class="fa fa-shopping-cart"></i> </a> <a
                        href="#" class="title text-truncate">Modern T-shirt
                        for
                        men</a> <small class="text-muted">Sizes: S, M, XL</small>
                    <div class="price-wrap"> <strong class="price">$75.50</strong> </div>
                </div>
            </div> <!-- card // -->
        </div>
        <div class="col-custom col-lg-3 col-sm-6 col-12">
            <div class="card card-product-grid"> <a href="#" class="img-wrap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/lemellowauthentication.appspot.com/o/upload%2F71b4g%2BQ45LL._SL1500_.jpg?alt=media&token=e94a4ef9-1ec7-4c6c-ae1f-e4752a79ece1"
                        width="300" height="300">
                    <span class="topbar"> <span class="badge bg-success">
                            Offer </span> </span> </a>
                <div class="info-wrap border-top">
                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    <a href="#" class="float-end btn btn-primary btn-icon"> <i class="fa fa-shopping-cart"></i> </a> <a
                        href="#" class="title text-truncate">Modern T-shirt
                        for
                        men</a> <small class="text-muted">Sizes: S, M, XL</small>
                    <div class="price-wrap"> <strong class="price">$75.50</strong> </div>
                </div>
            </div> <!-- card // -->
        </div>
        <div class="col-custom col-lg-3 col-sm-6 col-12">
            <div class="card card-product-grid"> <a href="#" class="img-wrap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/lemellowauthentication.appspot.com/o/upload%2Fbento-500x500.jpg?alt=media&token=adbe83fe-72d1-4cf1-9393-641a7ac28263"
                        width="300" height="300">
                    <span class="topbar"> <span class="badge bg-success">
                            Offer </span> </span> </a>
                <div class="info-wrap border-top">
                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    <a href="#" class="float-end btn btn-primary btn-icon"> <i class="fa fa-shopping-cart"></i> </a> <a
                        href="#" class="title text-truncate">Modern T-shirt
                        for
                        men</a> <small class="text-muted">Sizes: S, M, XL</small>
                    <div class="price-wrap"> <strong class="price">$75.50</strong> </div>
                </div>
            </div> <!-- card // -->
        </div>
        <div class="col-custom col-lg-3 col-sm-6 col-12">
            <div class="card card-product-grid"> <a href="#" class="img-wrap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/lemellowauthentication.appspot.com/o/upload%2Feducational-toys-500x500.jpg?alt=media&token=26a178fd-cdeb-4df0-9b09-2a6f8e2c741f"
                        width="300" height="300">
                    <span class="topbar"> <span class="badge bg-success">
                            Offer </span> </span> </a>
                <div class="info-wrap border-top">
                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    <a href="#" class="float-end btn btn-primary btn-icon"> <i class="fa fa-shopping-cart"></i> </a> <a
                        href="#" class="title text-truncate">Modern T-shirt
                        for
                        men</a> <small class="text-muted">Sizes: S, M, XL</small>
                    <div class="price-wrap"> <strong class="price">$75.50</strong> </div>
                </div>
            </div> <!-- card // -->
        </div>
        <div class="col-custom col-lg-3 col-sm-6 col-12">
            <div class="card card-product-grid"> <a href="#" class="img-wrap">
                    <img src="https://firebasestorage.googleapis.com/v0/b/lemellowauthentication.appspot.com/o/upload%2F71b4g%2BQ45LL._SL1500_.jpg?alt=media&token=e94a4ef9-1ec7-4c6c-ae1f-e4752a79ece1"
                        width="300" height="300">
                    <span class="topbar"> <span class="badge bg-success">
                            Offer </span> </span> </a>
                <div class="info-wrap border-top">
                    <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
                    <a href="#" class="float-end btn btn-primary btn-icon"> <i class="fa fa-shopping-cart"></i> </a> <a
                        href="#" class="title text-truncate">Modern T-shirt
                        for
                        men</a> <small class="text-muted">Sizes: S, M, XL</small>
                    <div class="price-wrap"> <strong class="price">$75.50</strong> </div>
                </div>
            </div> <!-- card // -->
        </div>
    </div>
</div>